@media screen and (max-width: 400px){
    .encabezado{
        flex-direction: column;
        width: 100% !important;
    }
    .titulo{
        padding-top: 25px;
    }
    .logo{
        margin: 0 auto;
    }
    .caja-principal{
        flex-direction: column;
    }
    .caja1{
        margin: 0 auto;
        width: 100% !important;
    }
    .caja2{
        margin: 0 auto;
        width: 100% !important;
    }
}